<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book of Songs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <div style="" class="dropdown">
        <button class="dropbtn">Wyświetl pieśni</button>
        <div class="dropdown-content">
            <a href="/all">Wszystkie</a>
            <a href="#">Harcerskie</a>
            <a href="#">Chrzescijanskie</a>
            <a href="#">Szanty</a>
            <a href="#">Inne</a>
        </div>
    </div>
</header>
<body>

<table>
    <tr th:each="song : ${songs}">
        <td th:text="${song.getTitle()}"></td>
    </tr>
</table><br>


</body>
</html>